$primary_color: #909ab4;
$secondary_color: #235ee7;
$light_blue_color: #1a61a4;
$bg_color: white;
$main_font: "Roboto", sans-serif;

@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap";
@import "./responsive";
@import "./animation";

* {
  font-family: $main_font;
}
body {
  background: #fafbfc;
}
input {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #c2c7d5;
  width: 100%;
}
.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 20px;
}
.discussion__warper {
  background: #ffffff;
  border: 1px solid #c2c7d5;
}
.discussion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.replies {
  margin: 10px 40px;
  padding: 30px;
  border-left: 1px solid #c2c7d5;
}
.comment {
  display: flex;
  flex-direction: column;
  span {
    font-weight: 600;
    font-size: 14px;
  }
  small {
    font-size: 12px;
    color: $primary_color;
  }
  .date {
    margin-left: 10px;
    color: $primary_color;
    font-size: 10px;
  }
}
.customAvatar {
  background: #deedfc;
  color: $light_blue_color;
  padding: 10px;
  margin: 20px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bolder;
}
.likeButton {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px;
  small {
    color: $secondary_color;
    font-weight: 600;
    cursor: pointer;
  }
  button {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background: #c2c7d5;
    border: 0;
    border-radius: 20px;
    min-width: 60px;
    min-height: 30px;
    cursor: pointer;
    color: $primary_color;
  }
}
.activeLike {
  background: #235ee7 !important;
  color: $bg_color !important;
}

// Responsive Elements
@media (max-width: 768px) {
  .discussion {
    display: block;
    align-items: center;
    justify-content: space-between;
  }
  .likeButton {
    display: flex;
    gap: 5px;
    position: relative;
    left: 5rem;
  }
}
