.container {
  padding: 0 15px;
  margin: 0 auto;
}
.flex {
  display: flex;
  gap: 5px;
  align-items: center;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
