<template>
  <div class="discussion__warper" v-for="item in discussions" :key="item.id">
    <div class="discussion">
      <div class="flex">
        <img v-if="item.user.avatar" :src="item.user.avatar"
          :alt="item.user.name" class="avatar" />
        <div v-else class="customAvatar">
          {{ getInitials(item.user.name) }}
        </div>
        <div class="comment">
          <span>{{
            item.user.name
          }}<small class="date">{{ getTimeInterval(item.date) }}</small></span>
          <small>{{ item.text }}</small>
        </div>
      </div>
      <div class="likeButton">
        <button @click="toggleLikeButton(item.id)"
          :class="{ activeLike: item.iLikedIt }">
          <likeSVG :size="16" />
          {{ item.likes }}
        </button>
        <small
          @click="isShowReplies === item.id ? isShowReplies = 0 : isShowReplies = item.id">Replay</small>
      </div>
    </div>
    <Transition mode="out-in" name="fade">
    <Replies :parentID="item.id" v-if="isShowReplies === item.id"
      :discussions="discussions" :replies="item.replies" />
    </Transition>
  </div>
</template>

<script setup lang="ts">
import { defineProps, ref } from "vue";
import likeSVG from "@/components/svg-icons/thumbs-up.vue";
import Replies from "@/components/RepliesComp.vue"
import { IDiscussion } from "@/models/discussion.model";
import { getTimeInterval } from "@/assets/utilities/dateUtils";
import { getInitials } from "@/assets/utilities/stringUtils";

const props = defineProps<{ discussions: IDiscussion[] }>();
const isShowReplies = ref(0);

const toggleLikeButton = (id: number) => {
  let selectedItem = props.discussions.find((f) => f.id === id);
  if (selectedItem?.iLikedIt === true) {
    selectedItem.likes--;
    selectedItem.iLikedIt = false;
    return;
  }
  selectedItem!.likes++;
  selectedItem!.iLikedIt = true;
};
</script>
