<template>
  <div class="flex">
    <img
      src="https://www.godaddy.com/garage/wp-content/uploads/judith-kallos-BW-NEW-150x150.jpg"
      alt="Avatar" class="avatar" />
    <input @keypress.enter="addDiscussion" type="text" v-model="discussModel"
      placeholder="Start a discuss" />
  </div>
</template>

<script setup lang="ts">
import { defineEmits, ref } from "vue";
const discussModel = ref("");
const emit = defineEmits(["EmitAddDiscuss"]);

const addDiscussion = () => {
  if (discussModel.value.length !== 0) {
    emit("EmitAddDiscuss", discussModel.value);
    discussModel.value = "";
  }
};
</script>
