<template>
  <div class="replies">
    <div v-for="replay in replies" :key="replay.id">
      <div class="discussion">
        <div class="flex">
          <img
            v-if="replay.user.avatar"
            :src="replay.user.avatar"
            :alt="replay.user.name"
            class="avatar"
          />
          <div v-else class="customAvatar">
            {{ getInitials(replay.user.name) }}
          </div>
          <div class="comment">
            <span
              >{{ replay.user.name
              }}<small class="date">{{
                getTimeInterval(replay.date)
              }}</small></span
            >
            <small>{{ replay.text }}</small>
          </div>
        </div>
        <div class="likeButton">
          <button
            @click="toggleLikeButton(replay.id)"
            :class="{ activeLike: replay.iLikedIt }"
          >
            <likeSVG :size="16" />
            {{ replay.likes }}
          </button>
        </div>
      </div>
    </div>
    <div class="flex">
      <img
        src="https://www.godaddy.com/garage/wp-content/uploads/judith-kallos-BW-NEW-150x150.jpg"
        alt="Avatar"
        class="avatar"
      />
      <input
        v-model="replayModel"
        @keypress.enter="addReplay(replayModel)"
        type="text"
        placeholder="Replay"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { defineProps, ref } from "vue";
import { getTimeInterval } from "@/assets/utilities/dateUtils";
import { getInitials } from "@/assets/utilities/stringUtils";
import { IComment, IDiscussion } from "@/models/discussion.model";
import likeSVG from "@/components/svg-icons/thumbs-up.vue";

const props = defineProps<{
  replies: IComment[];
  parentID: Number;
  discussions: IDiscussion[];
}>();
const filteredReplies = ref([]);
const replayModel = ref("");

const toggleLikeButton = (id: number) => {
  let selectedItem = props.replies.find((f) => f.id === id);
  if (selectedItem?.iLikedIt === true) {
    selectedItem.likes--;
    selectedItem.iLikedIt = false;
    return;
  }
  selectedItem!.likes++;
  selectedItem!.iLikedIt = true;
};

const addReplay = (text: string) => {
  if (replayModel.value.length !== 0) {
    // Build Replay
    const replay = {
      id: Math.floor(Math.random() * 1000),
      date: Math.floor(Date.now()),
      user: {
        name: "Bessie Cooper",
        avatar:
          "https://www.godaddy.com/garage/wp-content/uploads/judith-kallos-BW-NEW-150x150.jpg",
      },
      text,
      likes: 0,
      iLikedIt: false,
    };
    // Find Selected Discussion
    //@ts-ignore
    filteredReplies.value = props.discussions.find(
      (f) => f.id === props.parentID
    );
    // Add Replay
    //@ts-ignore
    filteredReplies.value?.replies.unshift(replay);
    replayModel.value = "";
  }
};
</script>
