<template>
  <div class="container">
    <CHeader @EmitAddDiscuss="addDiscuss" />
    <CDiscussions :discussions="discussions" />
  </div>
</template>

<script setup lang="ts">
import { IDiscussion } from "@/models/discussion.model";
import CDiscussions from "@/components/DiscussionsComp.vue";
import CHeader from "@/components/HeaderComp.vue";
import { ref, Ref } from "vue";

// Sample Discussion Data
const discussions: Ref<IDiscussion[]> = ref([
  {
    id: Math.floor(Math.random() * 1000),
    date: 1672576574000,
    user: {
      name: "Bessie Cooper",
      avatar:
        "https://www.godaddy.com/garage/wp-content/uploads/judith-kallos-BW-NEW-150x150.jpg",
    },
    text: "I think for our second compaign we can try to target a different audience. How does it sound for you?",
    likes: 2,
    iLikedIt: false,
    replies: [
      {
        id: Math.floor(Math.random() * 1000),
        date: 1672581014000,
        user: {
          name: "Marvin McKinney",
          avatar:
            "https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50",
        },
        text: "Yes, that sounds good! I can think about this tomorrow. Then do we plan to start that compaign?",
        likes: 3,
        iLikedIt: true,
      },
      {
        id: Math.floor(Math.random() * 1000),
        date: 1672581614000,
        user: {
          name: "Bessie Cooper",
          avatar:
            "https://www.godaddy.com/garage/wp-content/uploads/judith-kallos-BW-NEW-150x150.jpg",
        },
        text: "We plan to run the compaign on Friday - as far as I know. Do you think you will get this done by Thursday @Marvin?",
        likes: 0,
        iLikedIt: false,
      },
    ],
  },
  {
    id: Math.floor(Math.random() * 1000),
    date: 1672232414000,
    user: {
      name: "Marvin McKinney",
      avatar:
        "https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50",
    },
    text: "The first compaign went smoothly. Please make sure to see all attachments with the results to understand the flow.",
    likes: 2,
    iLikedIt: false,
    replies: [],
  },
  {
    id: Math.floor(Math.random() * 1000),
    date: 1671886814000,
    user: {
      name: "Savannah Nguyen",
    },
    text: "We have just published the first campaign. Let's see the results in the 5 days and we will iterate on this.",
    likes: 50,
    iLikedIt: true,
    replies: [],
  },
]);

const addDiscuss = (comment: string) => {
  // Build a Discuss
  const discuss = {
    id: Math.floor(Math.random() * 1000),
    date: Math.floor(Date.now()),
    user: {
      name: "Bessie Cooper",
      avatar:
        "https://www.godaddy.com/garage/wp-content/uploads/judith-kallos-BW-NEW-150x150.jpg",
    },
    text: comment,
    likes: 0,
    iLikedIt: false,
    replies: [],
  };
  // Add to Discussions List
  discussions.value.unshift(discuss);
};
</script>
